@model MAM.Models.RequisitionInfo

@{
    ViewBag.Title = "Create";
}

<h2>Requistion Information</h2>

<link rel="shortcut icon" href="https://www.thecodedeveloper.com/demo/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="https://www.thecodedeveloper.com/demo/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="~/Scripts/jquery.min.js"></script>

<style type="text/css">
    .top-buffer {
        margin-top: 50px;
    }

    .bottom-buffer {
        margin-bottom: 50px;
    }
</style>

@using (Html.BeginForm("Create", "RequisitionInfo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyId, "Company", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                @if (ViewBag.CompanyName != null)
                {
                    @Html.DropDownListFor(model => model.CompanyId, (IEnumerable<SelectListItem>)ViewBag.CompanyName, "--Select Company --", new { @class = "form-control" })

                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DivisionId, "Division", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.divisionNames != null)
                {
                    @Html.DropDownListFor(model => model.DivisionId, (IEnumerable<SelectListItem>)ViewBag.divisionNames, "--Select Division --", new { @class = "form-control", @id = "ddlDivision" })

                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SectionId, "Section", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="Section">
                @if (ViewBag.SectionName != null)
                {
                    @Html.DropDownListFor(x => x.SectionId, (IEnumerable<SelectListItem>)ViewBag.SectionName, "--Select--", new { @class = "form-control", @id = "ddlSection" });
                }
                @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.CategoryName != null)
                {
                    @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.CategoryName, "--Select Category --", new { @class = "form-control" })

                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FloorName, "Floor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.FloorList != null)
                {
                    @Html.DropDownListFor(model => model.FloorName, (IEnumerable<SelectListItem>)ViewBag.FloorList, "--Select Floor --", new { @class = "form-control" })

                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, "Item Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequisitionNo, "Requisition No", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequisitionNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequisitionNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequisitionPurpose, "Purpose", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequisitionPurpose, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequisitionPurpose, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductHistory, "Product History", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProductHistory, new { htmlAttributes = new { @class = "form-control", style = "width:250; Height:50px;" } })
                @Html.ValidationMessageFor(model => model.ProductHistory, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReqQty, "Requisition Qty.", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReqQty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReqQty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReqDate, "Requisition Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReqDate, new { htmlAttributes = new { @class = "form-control datetimepicker3", @readonly = true } })
                @Html.ValidationMessageFor(model => model.ReqDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.QuotationImage, "Image", htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                <input type="file" id="qImage" name="qImage" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>} 
<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section scripts{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="~/Content/jquery.datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.datetimepicker.js"></script>   
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.datetimepicker3').datetimepicker({
            format: 'Y-m-d',
            timepicker: false
        });
    });
</script>

<script type="text/javascript"> 
    $(document).ready(function () {
        $('#ddlDivision').change(function () {
            $.ajax({
                type: "post",
                url: "/RequisitionInfo/GetSectionsByDivisionId",
                data: { divId: $('#ddlDivision').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var section = "<select id='SectionId' name='SectionId' class = 'form-control'>";
                    section = section + '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        section = section + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    section = section + '</select>';
                    $('#Section').html(section);
                }
            });
        });
    });
</script>  