@model MAM.Models.Section

@{
    ViewBag.Title = "Create";
}

<h2>Add Section</h2>

<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.DivisionID, "Division", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @if (ViewBag.divisionNames != null)
            {
                @Html.DropDownListFor(model => model.DivisionID, (IEnumerable<SelectListItem>)ViewBag.divisionNames, "--Select Division --", new { @class = "form-control" })

            }

        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SectionName,"Section", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SectionName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SectionName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
